<% if cu %>
<%  current_user = cu %>
<%   else %>
<%  current_user = {} %>
<% end %>


<div class='page1container'>
<div class='page1' style='margin-top:20px'>
  <h1><%=t('contact_us')%></h1>
  <form class='form-group ' action='/contact_us' method='post'>
    <p>
      <div class='input-group'>
        <label><%=t('name')%></label>
        <input name='name' class='form-control' placeholder="<%=t('enter_name')%>" required> 
      </div></p>
      <p>

      <label><%=t('phone')%></label>
      <img src="/img/il.png">
      <div class='input-group'>
        <input type="text" name='phone' id = "phone_field" class="form-control bfh-phone" value="<%=current_user['phone'] %>"  zdata-format="972 (ddd) ddd-dddd" required placeholder='052-123-4567'>
      </div>
      </p>

      <p>
        <div class='input-group'>
          <label><%=t('text')%></label>
          <textarea rows="9" cols="20" name='text' class='form-control' placeholder="<%=t('tell_us')%>" required></textarea>
        </div></p>

        <div class="tal">
          <button class='btn btn-lg btn-raised cos-red-btn' onClick='return checkPhoneEntered()' type='submit'><%=t('send')%></button>
        </div>

        <!-- <input type="submit" value="Submit"> -->
      </form>
    </div>
</div>