<% if cu %>
<%  current_user = cu %>
<%   else %>
<%  current_user = {} %>
<% end %>



<div id="get_quote_form" class='page1' style=""> 
	<h2><%=t('get_quote')%></h2>

	<%= erb :"modal" %>
	<p>
		<div class="input-group">
			<label><%=t('treatment_type')%></label>

			<select required="required" multiple="multiple" class="form-control" name='treatments'  id="quote_treatments">
				<option class='treatment_option' value=''><%=t('any_treatment')%></option>
				<% TREATMENTS.keys.each do |treatment| %> 
				<optgroup label="<%=t(treatment)%>">

					<% subtreatment_list = TREATMENTS[treatment] %>
					<% subtreatment_list.each do |subtreatment| %>

					<option class='treatment_option' value="<%=subtreatment%>"><%=t(subtreatment)%></option>

					<% end %> 
					<% end %> 
			</select>
		</div>
	</p>

	<div class="input-group">	
		<label><%=t('month')%></label>

		<select class="form-control" name='month'  id="quote_month">
			<option value='<%Time.now.month%><'><%=Time.now.month%></option>		
			<% 12.times do |n| %> 
			<% n += 1 %> 
			<option value="<%=n%>"><%=n%></option>puts n
			<% end %> 
		</select>
	</div>

	<div class="input-group">
		<label><%=t('day')%></label>

		<select class="form-control" name='day'  id="quote_day">
			<option value='<%Time.now.day%><'><%=Time.now.day%></option>	>		
			<% 31.times do |n| %> 
			<% n += 1 %> 
			<option value="<%=n%>"><%=n%></option>puts n
			<% end %> 
		</select>
	</div>

	<div class="input-group">
		<label><%=t('time_from')%></label>

		<select class="form-control" name='time_from'  id="quote_time_from">
			<option value='Any time'><%=t('any_time')%></option>			
			<% 25.times do |n| %> 
			<% if n == 0 %> 
			<%next %>
			<%else%>
			<% n -= 1 %> 
			<option value="<%=n%>":00><%=n%>:00</option>
			<option value="<%=n%>:30"><%=n%>:30</option>

			<% end %> 
			<% end %> 
		</select>
	</div>

	<div class="input-group">
		<label><%=t('time_to')%></label>

		<select class="form-control" name='time_to'  id="quote_time_to">
			<option value='Any time'><%=t('any_time')%></option>		
			<% 25.times do |n| %> 
			<% if n == 0 %> 
			<%next %>
			<%else%>
			<% n -= 1 %> 
			<option value="<%=n%>":00><%=n%>:00</option>
			<option value="<%=n%>:30"><%=n%>:30</option>

			<% end %> 
			<% end %> 
		</select>
	</div>

	

	<p>
		<div class='input-group'>
			<label><%=t('address')%></label>

			<%= erb :"users/address", locals: {address: current_user["address"], autocomplete_suffix: "quote_address" } %>  
		</div>
	</p>

	<p>
		<div class="input-group checkbox">
			<label><input name="at_home" id="quote_at_home" type="checkbox"><%=t('treatment_at_home')%></label>
		</div>
	</p>


	<p>
		<button class='btn btn-lg btn-raised btn-custom-darken' type='button' value='Submit form' onClick='submitGetQuoteForm()'><i class="fa fa-search" aria-hidden="true"></i> <%=t('get_quote')%></button>	
	</p>

</div>