<% if cu %>
<%  current_user = cu %>
<%   else %>
<%  current_user = {} %>
<% end %>


<div id="search" class='page1' style=""> 
	<h2>Get quote</h2>
	<p>
		<div class="input-group">	
			<label>Month</label>

			<select class="form-control" name='month'  id="quote_month">
				<option value='Any month'>Any month</option>		
				<% 12.times do |n| %> 
				<% n += 1 %> 
				<option value="<%=n%>"><%=n%></option>puts n
				<% end %> 
			</select>



			<label>Day</label>

			<select class="form-control" name='day'  id="quote_day">
				<option value='Any day'>Any day</option>		
				<% 31.times do |n| %> 
				<% n += 1 %> 
				<option value="<%=n%>"><%=n%></option>puts n
				<% end %> 
			</select>


			<label>Time from</label>

			<select class="form-control" name='time_from'  id="quote_time_from">
				<option value='Any time'>Any time</option>		
				<% 25.times do |n| %> 
				<% if n == 0 %> 
				<%next %>
				<%else%>
				<% n -= 1 %> 
				<option value="<%=n%>":00><%=n%>:00</option>
				<option value="<%=n%>:30"><%=n%>:30</option>

				<% end %> 
				<% end %> 
			</select>


			<label>Time to</label>

			<select class="form-control" name='time_to'  id="quote_time_to">
				<option value='Any time'>Any time</option>		
				<% 25.times do |n| %> 
				<% if n == 0 %> 
				<%next %>
				<%else%>
				<% n -= 1 %> 
				<option value="<%=n%>":00><%=n%>:00</option>
				<option value="<%=n%>:30"><%=n%>:30</option>

				<% end %> 
				<% end %> 
			</select>


		</div>
	</p>

	<p>
		<div class="input-group">
			<label>Treatment Type</label>

			<select required="required" multiple class="form-control" name='treatments'  id="quote_treatments">
				<!-- <option value='Any'>Any treatment</option> -->
				<% TREATMENTS.each do |treatment| %>
				<option value="<%=treatment%>"><%=treatment%></option>
				<% end %> 
			</select>
		</div>
	</p>

	<p>
		<div class='input-group'>
			<label>Address</label>

			<%= erb :"users/address", locals: {address: current_user["address"], autocomplete_suffix: "quote_address" } %>  
		</div>
	</p>

	<p>
		<div class="input-group checkbox">
			<label><input name="at_home" id="quote_at_home" type="checkbox">Treatment at home</label>
		</div>
	</p>
	<p>
		<button class='btn btn-lg btn-raised btn-custom-darken' type='button' value='Submit form' onClick='submitGetQuoteForm()'><i class="fa fa-search" aria-hidden="true"></i> Get quote</button>
	</p>
</div>