	<div id="send_quote_thank_you" class='noDisplay quote-msg'>
		<div> 
			<br>

			<h3 class="centerText"><%=t('submitted')%> <br><%=t('expect_to_hear')%><br> <%=t('contact_our')%><a href= "/contact_us"><%=t('support')%></a></h3> 
			<br>
		</div>

	</div>

	<div id="send_quote_no_sellers" class='noDisplay quote-msg'>
		<div> 
			<br>
			<h3 class="centerText"><%=t('no_sellers')%> <br><%=t('try_searching')%><br><%=t('contact_our')%><a href= "/contact_us"><%=t('support')%></a></h3> 
			<br>
		</div>
	</div>
	