<div style='text-align: right;'> 
<div class='centerText' style="background-color: #c2d4d8;">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" style="
    border-top-width: 0px;
    margin-top: 5px; margin-bottom: 10px;"><%=t('get_quote')%></button>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="padding-right: 20px;"><%=t('get_quote')%></h4>
        </div>
        <div class="modal-body">
          <form class='form-group'> 
    <label><%=t('my_phone_number')%></label>
    <img src="/img/il.png">

    <% if cu %>
    <%= cu['phone'] %>
    <% else %>

    <div class='input-group'>
      <input type="text" name='phone' id='quote_phone_modal' class="form-control bfh-phone" data-format="972 (ddd) ddd-dddd" required >
    </div>
    <% end %>
  </form>

    <div class="input-group"> 
    <label><%=t('month')%></label>

    <select class="form-control" name='month'  id="quote_month_modal">
      <option value="<%Time.now.month%>"><%=Time.now.month%></option>   
      <% 12.times do |n| %> 
      <% n += 1 %> 
      <option value="<%=n%>"><%=n%></option>puts n
      <% end %> 
    </select>
  </div>

  <div class="input-group">
    <label><%=t('day')%></label>

    <select class="form-control" name='day'  id="quote_day_modal">
      <option value="<%Time.now.day%>"><%=Time.now.day%></option> >   
      <% 31.times do |n| %> 
      <% n += 1 %> 
      <option value="<%=n%>"><%=n%></option>puts n
      <% end %> 
    </select>
  </div>

   <p>
  <div class="input-group">
    <label><%=t('time_around')%></label>

    <select class="form-control" name='time_around'  id="quote_time_around_modal">
      <option value=''><%=t('any_time')%></option>      
      <% (7...20).step(1) do |n|%>
      <% n += 1 %> 
      <option value="<%=n%>":00><%=n%>:00</option>
      <option value="<%=n%>:30"><%=n%>:30</option>
      <% end %> 
    </select>
  </div>
   </p>

  <p>
    <button class='btn btn-lg btn-raised btn-custom-darken' type='button' data-dismiss="modal" value='Submit form' onClick='submitGetQuoteFormModal()'><i class="fa fa-search" aria-hidden="true"></i> <%=t('get_quote')%></button> 
  </p>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
   </div>
  
