<div class='page1container'>
	

	<div id="search" class='page1' style=""> 
	
	
	<h2><%=t(:search_header)%></h2>				   
	<p style='max-width: 400px'><%=t('search_explain')%></p>
	
	
		<%= erb :"users/treatments" %>
		<%= erb :"users/areas" %>

		<p>
			<div class='input-group'>
				<label for='search_name_input' class='control-label '><%=t('name')%></label>
				<input type="text" name='name' id="search_name_input" class='form-control' placeholder='<%=t('name_placeholder')%>'>
			</div>
		</p>

		<p>
			<div class="input-group checkbox">
				<label for="search_home_visits_input"><%=t(:home_visits)%></label>
				<input name="home_visits" id="search_home_visits_input" type="checkbox" style = "width: 15px; height:15px;text-align:bottom;margin-top: 12px;vertical-align:bottom;">
			</div>
		</p>

		<p>
			<button class='btn btn-lg btn-raised btn-custom-darken' type='button' value='Submit form' onClick='submitDetailsForm()'> <%=t(:search)%> <i class="fa fa-search" aria-hidden="true"></i></button>
		</p>

	</div> <!-- end of search -->
</div> <!-- end of page1container -->
