<%
val = {}
use_default_vals = !$prod
if use_default_vals
	val = {
		name: 'Some value',
		num: rand(1000000).to_i
	}
end
%>

<style>

</style>

<script id="user_details_phone" type="x-tmpl-mustache"> 
	<div style='border: 2px solid grey'>
		<div><b>{{ name }}</b> <i class="fa fa-phone"></i> {{ phone }}</div>
	</div>
</script>


<script id="found_users_template" type="x-tmpl-mustache">
	{{#users}}
	<div class='btn btn-block btn-s btn-custom-lighten' onclick="click_user('{{_id}}')">
		<div class='row centerText'>			
			<span class='col-md-12 col-sm-12 col-xs-12'>
			<span class='float-left'>
				<img src={{pic_url}} class='supplier-list-img' style='float:left'>
			</span>
					<div><b>{{name}}</b></div>
					<div><b> {{ treatments	}}</b></div> 
					<div><b> {{city}} </b></div>
			</span>
		</div>
	</div>
	{{/users}}
</script>

<div class='' id="buttons_bar">
		<div class="zbtn-group centerText" style='margin-bottom:10px;'>
			<button type="button" id="search_menu_button" onclick="search_button()" class='menuBtn btn btn-lg btn-raised btn-custom-darken' style='margin-top: 20px;'><i class="fa fa-search"></i></button>
			<button type="button" id="results_menu_button" onclick="results_button()" class='menuBtn btn btn-lg btn-raised noDisplay btn-custom-darken' style='margin-top: 20px;'><i class="fa fa-users"></i></button>
			<button type="button" id="supplier_menu_button" onclick="supplier_button()" class='menuBtn btn btn-lg btn-raised noDisplay btn-custom-darken' style='margin-top: 20px;'><i class="fa fa-user"></i></button>

			<%locals[:requests_by_me] = requests_by_me = cu && $user_messages.get_many(sender_phone: cu[:phone]) rescue nil %>
			<%locals[:requests_to_me] = requests_to_me = cu && $user_messages.get_many(receiver_phone: cu[:phone]) rescue nil %>
			<% if cu && (requests_by_me.count > 0 || requests_to_me.count > 0) %>
			<button type="button" id="my_requests_menu_button" onclick="my_requests_button()" class='menuBtn btn btn-lg btn-raised btn-custom-darken' style='margin-top: 20px;'><i class="fa fa-envelope"></i></button>
			<% end%>
<!-- 			<button type="button" id="get_quote_menu_button" onclick="get_quote_button()" class='menuBtn btn btn-lg btn-raised btn-custom-darken noDisplay' style='margin-top: 20px;'>Get Quote</button> -->
			
		</div>

		<div id="search" class='page1' style=""> 
			<h2>Find treatments</h2>				   
			<p>
				<div class='input-group'>
					<label for='search_name_input' class='control-label '>Name</label>
					<input type="text" name='name' id="search_name_input" class='form-control' placeholder="Name">
				</div>
			</p>

			<p>
				<div class="input-group">
					<label>Treatment Type</label>

					<select class="form-control" name='treatments'  id="search_treatment_input">
					<option value=''>Any</option>
					<% TREATMENTS.each do |treatment| %>
            		<option value="<%=treatment%>"><%=treatment%></option>
            		<% end %> 
<!-- 						<option value = "Manicure">Manicure</option>
						<option value ="Pedicure">Pedicure</option>
						<option value ="Make up">Make up</option>
						<option value ="Facial Cleaning">Facial Cleaning</option> -->
					</select>
				</div>
			</p>
			<p>
				<div class="input-group">
					<label>City</label>
					<select class="form-control" name='city'  id="search_city_input">
					<option value=''>Any</option>
					<% CITIES.each do |city| %>
		            <option value="<%=city%>"><%=city%></option>
		            <% end %>
<!-- 						<option value = "Tel Aviv">Tel Aviv</option>
						<option value = "Haifa">Haifa</option>
						<option value = "Ashdod">Ashdod</option> -->
					</select>
				</div>
			</p>
			<p>
			<div class="input-group checkbox">
				<label><input name="home_visits" id="search_home_visits_input" type="checkbox">Home Visits</label>
			</div>
			</p>
			<p>
				<button class='btn btn-lg btn-raised btn-custom-darken' type='button' value='Submit form' onClick='submitDetailsForm()'><i class="fa fa-search" aria-hidden="true"></i> Search</button>
			</p>

		</form>
	</div>

	<div id="loader" class='noDisplay' style='text-align: center'>
		<img src="http://www.vunuti.com/files/theme/loader4.gif"  style="width:128px;height:128px;">
	</div>

	<div id="results" class='noDisplay'> 

		<!-- <h1>Found Users</h1> -->
		<div id='resultsList'>

		</div>
	</div>

	<%= erb :"contact_supplier", locals: {val: val} %>

	<%= erb :"supplier" %>
	

	
	<%= erb :"messages/messages_list", locals: locals %>	

	<div id="get_quote" class='noDisplay'> 
	<%= erb :"get_quote" %>
	</div>
	<%= erb :"supplier" %>
</div>
		<script src="/js/lib/mustache.min.js"></script>
