<%
val = {}
use_default_vals = !$prod
if use_default_vals
	val = {
		name: 'Some value',
		num: rand(1000000).to_i
	}
end
%>

<style>

</style>

<script id="user_details_phone" type="x-tmpl-mustache"> 
	<div style='border: 2px solid grey'>
		<div><b>{{ name }}</b> <i class="fa fa-phone"></i> {{ phone }}</div>
	</div>
</script>


<script id="found_users_template" type="x-tmpl-mustache">
	{{#users}}

	<div class='btn btn-block btn-s btn-custom-lighten found_user btn-{{profession}}' onclick="click_user('{{_id}}')">
		<div class='row centerText'>			
			<span class='col-md-12 col-sm-12 col-xs-12'>
				<span class='supplier-list-img-container'>
					<img src={{pic_url}} class='supplier-list-img' style=''>
				</span>
				<div class="single-user-mustache-details">
					<div>{{name}}</div>
					<div>{{profession}}</div> 
					<div>{{treatments}}</div> 
					<div>{{address}}</div>
					<div>{{home_visits}}</div>
				</div>

			</span>
		</div>
	</div>
	{{/users}}
</script>

<div class='' id="buttons_bar">
	<div class="zbtn-group centerText" style='padding-bottom: 15px'>
		<button type="button" id="search_menu_button" onclick="search_button()" class='menuBtn btn btn-lg btn-raised btn-custom-darken' style='margin-top: 20px;'><i class="fa fa-search"></i></button>
		<button type="button" id="results_menu_button" onclick="results_button()" class='menuBtn btn btn-lg btn-raised noDisplay btn-custom-darken' style='margin-top: 20px;'><i class="fa fa-users"></i></button>
		<button type="button" id="supplier_menu_button" onclick="supplier_button()" class='menuBtn btn btn-lg btn-raised noDisplay btn-custom-darken' style='margin-top: 20px;'><i class="fa fa-user"></i></button>

		<%locals[:requests_by_me] = requests_by_me = cu && $contact_supplier.get_many(sender_phone: cu[:phone]) rescue nil %>
		<%locals[:requests_to_me] = requests_to_me = cu && $contact_supplier.get_many(receiver_phone: cu[:phone]) rescue nil %>
		<% if cu && (requests_by_me.count > 0 || requests_to_me.count > 0) %>
		<button type="button" id="my_requests_menu_button" onclick="my_requests_button()" class='menuBtn btn btn-lg btn-raised btn-custom-darken' style='margin-top: 20px;'><i class="fa fa-envelope"></i></button>
		<% end%>

		<button type="button" id="get_quote_menu_button" onclick="get_quote_button()" class='menuBtn btn btn-lg btn-raised btn-custom-darken' style='margin-top: 20px;'><%=t('get_quote')%></button>	

	</div>
</div>

	<%= erb :"search/search_treatment", locals: locals %>	

	<%= erb :"search/loader" %>

	<%= erb :"contact_supplier", locals: {val: val} %>

	<%= erb :"supplier" %>

	<%= erb :"messages/messages_list", locals: locals %>	

	<div id="get_quote" class='noDisplay'> 
		<%= erb :"get_quote", locals: {autocomplete_suffix:"quote_address"}  %>
	</div>

	<%= erb :"supplier" %>

	<%= erb :"search/get_quote_messages" %>
	<script src="/js/lib/mustache.min.js"></script>
	<script>
		setCurrentState('search_button') //first 'history' entry
	</script>