<%
val = {}
use_default_vals = !$prod
if use_default_vals
	val = {
		name: 'Some value',
		num: rand(1000000).to_i
	}
end
%>


<script id="user_details_phone" type="x-tmpl-mustache"> 
	<div style='border: 2px solid grey'>
		<div><b>{{ name }}</b> <i class="fa fa-phone"></i> {{ phone }}</div>
	</div>
</script>


	<%= erb :"search/found_users_moustache", locals: locals %>	

	<%= erb :"search/buttons_bar", locals: locals %>	

	<%= erb :"search/search_treatment", locals: locals %>	

	<%= erb :"search/loader" %>

	<%= erb :"contact_supplier", locals: {val: val} %>

	<%= erb :"supplier" %>

	<%= erb :"messages/messages_list", locals: locals %>	

	<div id="get_quote" class='noDisplay'> 
		<%= erb :"get_quote", locals: {autocomplete_suffix:"quote_address"}  %>
	</div>

	<%= erb :"supplier" %>

	<%= erb :"search/get_quote_messages" %>
	<script src="/js/lib/mustache.min.js"></script>
	<script>
		setCurrentState('search_button') //first 'history' entry
	</script>