<%
  selected_city ||= nil
  signup_form ||= false
%>
<p>
  <div class="input-group">
    <% if signup_form %>
      <label> אזורים בהם בארץ בהם הינך יכול/ה לתת את השירות</label>      
    <% else %>
      <label><%=t(:area)%></label>
    <% end %>
    <select class="form-control selectpicker" name='city'  id="search_city_input">
      <% if !selected_city %>
        <option value='anywhere' selected><%=t("anywhere")%></option>
      <% end %>
      <% CITIES.each do |city| %>
      <option value="<%=city%>" <%='selected' if city==selected_city%>><%=(city)%></option>
      <% end %>
    </select>
  </div>
</p>