  
<%
val = {}
use_default_vals = !$prod
if use_default_vals
  val = {
    name: 'Some value',
    num: rand(1000000).to_i
  }
end
%>

<% if cu %>
<%  current_user = cu %>
<%   else %>
<%  current_user = {} %>
<% end %>

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<p>
  <h1 style="font-family: verdana; color: #b3b3ff;">Sign up</h1> 
</p>

<% if locals[:update_user] %>
<form class='form-group' action='/update_user' method='post'>
<% else %>
<form class='form-group' action='/create_user' method='post'>
<% end %>

  <p>
    <div class='input-group'>
      <label>Name</label>
      <input type="text" name='name' class='form-control' placeholder="Name" required value='<%=current_user["name"] %>'>
    </div>
  </p>
    
  <label>Phone</label>

  <% if locals[:update_user] %>
  <%= current_user["phone"]%>
  <% else %>
  <p>
    <div class="input-group phone-control" style = "width: 600px;">
      <select class="form-control" name='code' style = "width: 90px; border-radius: 4px; margin-right: 10px;">
        <option value = "052">052</option>
        <option value = "054">054</option>
        <option value = "058">058</option>
      </select>

      <input type=tel size=10 name="phone_without_code"  style = "width: 120px;" class='form-control' placeholder="123-4567" required value='<%=val[:num]%>' />
    </div>
  </p>
 <% end %>
  <p>
    <div class="input-group">
      <label>Profession</label>
      <select class="form-control" name='profession' required value='<%=current_user["profession"] %>'>
        <option value = "Beautician">Beautician</option>
        <option value ="Cosmetician">Cosmetician</option>
        <option value ="Doctor">Doctor</option>
      </select>
    </div>
  </p>

  <p>
    <div class='input-group'>
      <label>Address</label>
      <input type="text" name='address' class='form-control' placeholder="Address" required value='<%=current_user["address"] %>'>
    </div>
  </p>
  
  <p>
    <div class="input-group">
      <label>City</label>
      <select class="form-control" name='city'>
        <option value = "Tel Aviv">Tel Aviv</option>
        <option value = "Haifa">Haifa</option>
        <option value = "Ashdod">Ashdod</option>
      </select>
    </div>
  </p>

  <p>
    <div class='input-group'>
      <label>Description</label>
      <textarea rows="9" cols="20" name='description' class='form-control' placeholder="Enter your text here"  required ><%=current_user["description"] %></textarea>
    </div>
  </p>

  <div class="input-group">
    <label>Treatments</label>
    <div class="checkbox">
      <label><input type="checkbox" value="Manicure" name="treatments[]"  <%= "checked" if cu && "Manicure".in?(current_user["treatments"]) rescue nil %>>Manicure</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="Pedicure" name="treatments[]"  <%= "checked" if cu && "Pedicure".in?(current_user["treatments"])rescue nil %>>Pedicure</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="Make up" name="treatments[]" <%= "checked" if cu && "Make up".in?(current_user["treatments"]) rescue nil%>>Make up</label>
    </div>
  </div>

  <div class="checkbox">
    <label><input name="home_visits" type="checkbox" value="true" <%= "checked" if current_user["home_visits"] %> >Home Visits</label>
  </div>


  <button class='btn btn-lg btn-raised btn-primary' type='submit'>Send</button>

</form>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


  <!-- 
  <script type="text/javascript">
    $('.dropdown-menu a').on('click', function(){    
      $('.dropdown-toggle').html($(this).html() + '<span class="caret"></span>');    
  });

  </script>

 -->