<%
  allow_any ||= false
  st = selected_treatments ||= []
%>
<p>
    <div class="input-group">
      <label><%=t(:treatment)%></label>
      <select multiple class="form-control selectpicker" name='treatments[]' data-none-selected-text='בחר/י' id="search_treatment_input">
          <!-- <option value=''><%=t('any_treatment')%></option> -->
          <!-- <option value='' selected>בחר/י טיפולים</option> -->
        <% TREATMENTS.keys.each do |treatment| %> 
        <optgroup label="<%=t(treatment)%>">
          <% subtreatment_list = TREATMENTS[treatment] %>
            <% subtreatment_list.each do |subtreatment| %>
            <option value="<%=subtreatment%>" <%='selected' if st.include?(subtreatment)%>><%=t(subtreatment)%></option>
            <% end %> 
          <% end %> 
        </optgroup>
      </select>
      </div>
  </p>